// CONTAINERS
// ==============================

$container-sizes: (
    'small' : 768px,
    'large' : 1440px,
) !default;

$container-gutter: space(4) 0 !default;

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: $container-gutter;

    &.w-fixed {
        width: 100%;
    }
}

@each $name, $size in $container-sizes {
    .container-#{$name} {
        max-width: $size;
    }
}
